
:root {
    --color-dark-background: #202123;
    --color-panel-background: #2B2C2F;
    --color-primary-text: #E2E2E3;
    --color-secondary-text: #A8A9AB;
    --color-accent: #5A7485;
    --color-accent-hover: #7F9BAF; 
    --color-border: #3A3B3E;
}
body { 
    padding: 2rem; 
    background-color: var(--color-dark-background);
}

.container {
    background-color: var(--color-dark-background);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.short-url { 
    font-family: monospace;
    background-color: var(--color-accent);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    color: var(--color-primary-text);
    text-decoration: none;
    transition: background-color 0.2s;
}

.short-url:hover {
    background-color: var(--color-accent-hover);
}

.stats { 
    margin-top: 2rem; 
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-primary-text);
}

.table th {
    color: var(--color-primary-text);
    background-color: var(--color-panel-background);
    border-bottom: 2px solid var(--color-secondary-text);
    padding: 1rem !important;
}

.table td {
    background-color: var(--color-border);
    padding: 1rem !important;
    vertical-align: middle;
    border-color: var(--color-secondary-text);
}


.original-url {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.original-url a {
    color: var(--color-primary-text);
    text-decoration: none;
}

.original-url a:hover {
    color: var(--color-secondary-text);
}

footer { 
    margin-top: 3rem; 
    text-align: center; 
    color: var(--color-primary-text);
    background-color: var(--color-dark-blue);
    font-size: 0.9rem;
}

.form-container {
    background-color: var(--color-dark-blue);
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 35%;
    top: 25%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.close:hover {
    color: #666;
}

.qr-code:hover {
    opacity: 0.8;
}

.modal-open {
    opacity: 0.2;
}

/* Pagination styles */
.pagination {
    margin: 20px 0;
}

.page-item.active .page-link {
    background-color: #4e4e4e;
    border-color: #4e4e4e;
}

.page-link {
    color: #0d6efd;
    border: 1px solid #dee2e6;
    margin: 0 2px;
}

.page-link:hover {
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

h1{
    color: var(--color-primary-text) !important ;
}
h1>small{
    color: #cccdce;
    font-size: small;
}

.mb-4{
    color: var(--color-primary-text);
}

.btn-primary{
    background-color: #4e4e4e;
    border-color: #4e4e4e;
}

.btn-primary:hover{
    background-color: #585656;
    border-color: #585656;
}

.form-container-lg:active{
    border-color: var(--color-dark-background);
}

.clicks{
    color: var(--color-primary-text) !important;
}
.createdTime{
    color: var(--color-primary-text) !important;
}