<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form method="POST" action="/short_urls" class="my-4 form-inline">
            <label for="full_url" class="sr-only">URL</label>
            <input type="url" class="form-control col mr-2" name="full_url" id="full_url" placeholder="URL" required>
            <button type="submit" class="btn btn-success">Shorten</button>
        </form>

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                {ROWS}
            </tbody>
        </table>
    </div>
</body>
</html>